In [ ]:
import os
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive', force_remount = True)

Mounted at /content/gdrive

In [ ]:
root_dir = '/content/gdrive/My Drive/BILTZai/'

In [ ]:
os.chdir(root_dir)

In [ ]:
print('current working directory::',os.getcwd())

current working directory:: /content/gdrive/My Drive/BILTZai

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk 
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords

In [ ]:
from nltk.tokenize import word_tokenize , sent_tokenize

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_parquet('classificationData.parquet')

In [ ]:
df.columns

Index(['marketplace', 'customer_id', 'review_id', 'product_id',
       'product_parent', 'product_title', 'product_category', 'star_rating',
       'helpful_votes', 'total_votes', 'vine', 'verified_purchase',
       'review_headline', 'review_body', 'review_date'],
      dtype='object')

In [ ]:
df.head()

        marketplace  ... review_date
5688397          US  ...  2014-01-21
8547800          US  ...  2011-03-01
4478014          US  ...  2014-08-07
4111190          US  ...  2014-09-16
3221802          US  ...  2014-12-12

[5 rows x 15 columns]

In [ ]:
df['review_label'] = np.where(df.star_rating > 4 , 'positive' , (np.where(df.star_rating > 2 , 'moderate','negative')))

In [ ]:
df.head()

        marketplace customer_id  ... review_date review_label
5688397          US    46632376  ...  2014-01-21     positive
8547800          US    21069192  ...  2011-03-01     positive
4478014          US     9715549  ...  2014-08-07     positive
4111190          US     6333661  ...  2014-09-16     positive
3221802          US     6464636  ...  2014-12-12     positive

[5 rows x 16 columns]

In [ ]:
df[df.review_label == 'negative']

        marketplace customer_id  ... review_date review_label
8172510          US    11600646  ...  2012-03-13     negative
2629703          US    44539531  ...  2015-01-28     negative
3625725          US    22550885  ...  2014-11-04     negative
3980802          US    10112393  ...  2014-09-29     negative
1861961          US    11133132  ...  2015-03-26     negative
...             ...         ...  ...         ...          ...
4484327          US     9280610  ...  2014-08-06     negative
5137132          US     1908736  ...  2014-04-28     negative
7553805          US    17989523  ...  2013-01-07     negative
5958680          US    31485740  ...  2013-12-08     negative
8209530          US    10180977  ...  2012-02-12     negative

[92900 rows x 16 columns]

In [ ]:
df.groupby(['review_label']).count()

              marketplace  customer_id  ...  review_body  review_date
review_label                            ...
moderate           116580       116580  ...        88947       116580
negative            92900        92900  ...        70824        92900
positive           240620       240620  ...       183397       240620

[3 rows x 15 columns]

In [ ]:
df.shape

(450100, 16)

In [ ]:
df = df[~df.review_body.isna()]

In [ ]:
df.shape

(343168, 16)

In [ ]:
stop_words = set(stopwords.words('english'))

In [ ]:
df['review_clean'] = df['review_body'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [ ]:
df.head()

        marketplace  ...                                       review_clean
5688397          US  ...  This case fit phone perfectly I loved stars lo...
8547800          US  ...  This one practical economic purchases I made l...
4478014          US  ...                                          excelente
4111190          US  ...                           I love it. And reliable.
3221802          US  ...                               I got right one time

[5 rows x 17 columns]

In [ ]:
df['review_tokenize'] = df['review_clean'].apply(word_tokenize)

In [ ]:
df['review_sentence_tokenize'] = df['review_clean'].apply(sent_tokenize)

In [ ]:
df.head()

        marketplace  ...                           review_sentence_tokenize
5688397          US  ...  [This case fit phone perfectly I loved stars l...
8547800          US  ...  [This one practical economic purchases I made ...
4478014          US  ...                                        [excelente]
4111190          US  ...                        [I love it., And reliable.]
3221802          US  ...                             [I got right one time]

[5 rows x 19 columns]

In [ ]:
df['labels'] = np.where(df.review_label == 'positive' , 0 , (np.where(df.review_label == 'negative' , 1, 2)))

In [ ]:
df.head()

        marketplace  ... labels
5688397          US  ...      0
8547800          US  ...      0
4478014          US  ...      0
4111190          US  ...      0
3221802          US  ...      0

[5 rows x 20 columns]

In [ ]:
df.groupby(['labels']).count()

        marketplace  customer_id  ...  review_tokenize  review_sentence_tokenize
labels                            ...
0            183397       183397  ...           183397                    183397
1             70824        70824  ...            70824                     70824
2             88947        88947  ...            88947                     88947

[3 rows x 19 columns]

In [ ]:
df.groupby(['review_label']).count()

              marketplace  customer_id  ...  review_sentence_tokenize  labels
review_label                            ...
moderate            88947        88947  ...                     88947   88947
negative            70824        70824  ...                     70824   70824
positive           183397       183397  ...                    183397  183397

[3 rows x 19 columns]

In [ ]:
df.head()

        marketplace  ... labels
5688397          US  ...      0
8547800          US  ...      0
4478014          US  ...      0
4111190          US  ...      0
3221802          US  ...      0

[5 rows x 20 columns]

In [ ]:
df.to_csv('labeled_sentiment_data.csv')

In [ ]:
train , test = train_test_split(
    df,
    test_size = 0.20,                 #showing train - test split in analysis , it is specifically code in neural file again
    stratify = df.labels.values
)

In [ ]:
train.to_csv('sentiment-train.csv')

In [ ]:
test.to_csv('sentiment-test.csv')